#one{
    background-color: pink;
    height: 400px;
    width: 400px;
}
#two{
    background-color: aqua;
    height: 300px;
    width: 300px;
}
#three{
    background-color: red;
    height: 200px;
    width: 200px;
}